# Configuration de la base de données MySQL
DATABASE_URL="mysql://root:password@localhost:3306/association_el_bsf"

# Configuration NextAuth (pour l'authentification admin)
NEXTAUTH_SECRET="votre-secret-ici-changez-le-en-production"

# Configuration Prisma (optionnel, pour le développement)
PRISMA_LOG_QUERIES="true"
PRISMA_LOG_ERRORS="true"
